@{
    ViewBag.Title = "About";
}

<div class="jumbotron text-center">
    <h1>About</h1>
    <p class="lead">Your application description page.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>
