@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to our School Management System</h1>
    <p class="lead">This is a simple application for managing students.</p>
    <p>
        <a href="@Url.Action("Index", "Schools")" class="btn btn-primary btn-lg">View Students</a>
    </p>
</div>
